@use "styles/chatbot.scss";
@use "styles/login.scss";
@use "styles/email-automation.scss";
@use "styles/financial-simulator.scss";

@use "styles/ia-chatbot-header-anim.scss";

@import "./styles/self-assessment";
