#######################################
# BUILD
#######################################

/target/
/build/
*.class
*.jar
*.war
*.ear

#######################################
# LOGS
#######################################

*.log
logs/

#######################################
# ENV / SECRETS
#######################################

.env
.env.*
!.env.example

#######################################
# MAVEN
#######################################

.mvn/wrapper/maven-wrapper.jar

#######################################
# IDE
#######################################

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

#######################################
# OS
#######################################

.DS_Store
Thumbs.db

#######################################
# TEMP
#######################################

tmp/
temp/
.cache/
