.topbar .nav-link {
  position: relative;
  padding-bottom: 8px;
}

.topbar .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
